<label for="title">Email</label>
<input type="text" name="name" value="" placeholder="User email information">

<label for="name">Last, First</label>
<input type="text" name="name" value="" placeholder="User name information">

<label for="phone number">Phone Number</label>
<input type="text" name="name" value="" placeholder="User phone number">

<label for="twitter">Twitter Username</label>
<input type="text" name="name" value="" placeholder="User twitter handle">

<input class="submit-button" type="submit" value="Submit">
